fastapi==0.117.1
langchain==0.3.27
langchain-chroma==0.2.6
langchain-community==0.3.29
langchain-core==0.3.76
langchain-openai==0.3.33
langgraph==0.6.7
langgraph-checkpoint==2.1.1
langgraph-checkpoint-redis==0.1.1
langgraph-prebuilt==0.6.4
pydantic==2.11.9
python-dotenv==1.1.1
requests==2.32.5
typing_extensions==4.15.0
git+https://github.com/teddylee777/langchain-teddynote.git
confluent-kafka==2.3.0